.git
.github
.venv
venv
__pycache__
*.py[cod]
*.egg-info
.pytest_cache
.mypy_cache
.ruff_cache
.pre-commit-config.yaml
.vscode
build
dist
site
uv.lock
tests
docs
benchmarks
*.gguf
examples/data/audio
examples/data/images
examples/data/pdf
Dockerfile
.dockerignore
